<h1>Input Zip Code</h1>

<div class="row">
	<div class="span6 offset3">
		<%=form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :current_zip %>
			<%= f.text_field :current_zip %>

			<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

